HTTP headers case sensitivity

HTTP headers check should be case insensitive: [RFC 7230, Section 3.2](https://datatracker.ietf.org/doc/html/rfc7230#section-3.2)
Example: `PostAttestationV2` API fails if the `Eth-Consensus-Version` headers isn't case sensitive
